<p style="margin: 40px 0"></p>

{{#if data.length}}
<div style="display: flex; flex-direction: column; gap:12px;">
    {{#each data}}
    {{#if this.id}}
    <div style="display: flex; justify-content: space-between">
        <div>
            <h1><a href="/article/{{this.id}}">{{this.title}}</a></h1>
            <h1 style="color: grey;">{{this.publish_date}}</h1>
        </div>
        <div>
            <a href="/edit/{{this.id}}">Edit</a>
            <form action="/delete/{{this.id}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>
{{else}}
<h1 style="text-align: center;">No Data</h1>
{{/if}}